.main-admin-container{
    display: flex;
    justify-content: center;
    background-color: bisque;
    flex-wrap: wrap;
}
.main-admin-container img{
    height: 300px;
    margin: 30px 70px;
    width: 300px;

}
.main-admin-container h6{
    text-align: center;
}

.totalpriceandquantity{    
    background-color: bisque;
}